<!DOCTYPE html>
<html>
<head>
    <title>LIfeDash</title>

    <!-- this enables the chrome extension to start working for this page-->
    <meta name="dashboard" />
    <meta http-equiv="refresh" content="60" />

</head>
<body>

<script type="text/css" id="weather">
    .currentconditions {
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        width: 600px;
        z-index: 1000;
    }

    #doppler {
        display: none;
    }
</script>

<!-- <script src="/static/content.js"> </script> -->

<iframe id="frame2" src="http://dv.njtransit.com/webdisplay/tid-mobile.aspx?sid=HB#GridView1"
        style="border: 0" width="1016" height="462"></iframe>

<iframe id="frame3" id="forecast_embed" frameborder="0" width="1016" height="250" data-refresh="30"
        style="border: 0" src="//forecast.io/embed/#lat=40.7440&lon=-74.0324&name=Hoboken"></iframe>

<iframe id="frame1" src="https://calendar.google.com/calendar/embed?src=kate.and.pedro%40gmail.com&ctz=America%2FNew_York"
        style="border: 0" width="450" height="450"></iframe>

<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
<iframe src="//lightwidget.com/widgets/ef358e8a3d5c5bc7b53d91581a8d0ac8.html" scrolling="no" allowtransparency="true"
        class="lightwidget-widget" style="width:450;border:0;overflow:hidden;"></iframe>

</body>
</html>