<!-- Homepage for Flask Weather App -->
<!-- rpi resolution: 1016x1856 -->
<!DOCTYPE html>
<html>
<head>
    <title>LifeDash</title>
    <link rel="stylesheet" type="text/css" href="../static/static_styles.css">
    <!-- Latest compiled and minified CSS from Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Fonts from Google -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <!-- Emojis for Fun -->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Import stylesheets -->
    <link rel="stylesheet" type="text/css" href="../static/weather-icons.css">
    <style>
        body {
            background-color: {{ color }};
        }

        h1, h3 {
            color: {{ font }};
        }
    </style>
</head>
<body>

<div id="A2">
    <iframe src="https://dv.njtransit.com/webdisplay/tid-mobile.aspx?sid=HB" style="border: 0" width="1016" height="464" frameborder="0" scrolling="no"></iframe>
</div>

<div id="A1">
    <iframe src="https://calendar.google.com/calendar/embed?src=kate.and.pedro%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="508" height="464" frameborder="0" scrolling="no"></iframe>
</div>

</body>

</html>
